<h1>Просмотр всех дисциплин</h1>

<table>
  <tr>
    <th>Название</th>
    <th></th>
    <th></th>
  </tr>

<% @discipline_dictionaries.each do |discipline_dictionary| %>
  <tr>
    <td><%= discipline_dictionary.name %></td>
    <td><%= link_to 'Изменить', edit_discipline_dictionary_path(discipline_dictionary) %></td>
    <td><%= link_to 'Удалить', discipline_dictionary, :confirm => 'Вы уверенны?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить новую дисцилину', new_discipline_dictionary_path %>
