<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @discipline_dictionary.name %>
</p>


<%= link_to 'Изменить', edit_discipline_dictionary_path(@discipline_dictionary) %> |
<%= link_to 'Назад', discipline_dictionaries_path %>
